In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("vid18_180219.dat")

In [ ]:
#Descargar el archivo
#data = pd.read_csv("vid18_180219.dat",sep="\s+",skipfooter=1,skiprows=1,\
#                   engine='python')#names=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'])
#data = data.replace('Nulo','NA')
#Cambiamos el tipo de variable de las columnas a flotante
#data[['Precip','Evap','Tmax','Tmin']] = data[['Precip','Evap','Tmax','Tmin']] \
#.apply(pd.to_numeric, errors='coerce')
#data['NFecha'] =  pd.to_datetime(data['Fecha'], format='%d/%m/%Y')
#data = data.drop('Fecha', 1)
# Crear columnas con Año y Mes extraídos de la fecha 
#data['Año'] = data['NFecha'].dt.year
#data['Mes'] = data['NFecha'].dt.month
# Número de años distintos data['Año'].unique(),
#NumA = len(data['Año'].unique())

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.columns

In [47]:
data1 = pd.DataFrame()

In [48]:
data1['TIMESTAMP'] = data['TIMESTAMP']
data1['AirTC_Avg'] = data['AirTC_Avg']

In [49]:
data1.head()

             TIMESTAMP  AirTC_Avg
0  2018-05-11 20:10:00      23.50
1  2018-05-11 20:20:00      22.96
2  2018-05-11 20:30:00      22.73
3  2018-05-11 20:40:00      22.40
4  2018-05-11 20:50:00      22.46

In [ ]:
#data2['Tmax'] = 'Tmax'
#data2['Tmin'] = 'Tmin'

In [70]:
data1['NTIMESTAMP'] =  pd.to_datetime(data1['TIMESTAMP'])
data1['Año'] = data1['NTIMESTAMP'].dt.year
data1['Mes'] = data1['NTIMESTAMP'].dt.month
data1['Dia'] = data1['NTIMESTAMP'].dt.day

In [79]:
data1.head()

             TIMESTAMP  AirTC_Avg          NTIMESTAMP   Año  Mes  Dia
0  2018-05-11 20:10:00      23.50 2018-05-11 20:10:00  2018    5   11
1  2018-05-11 20:20:00      22.96 2018-05-11 20:20:00  2018    5   11
2  2018-05-11 20:30:00      22.73 2018-05-11 20:30:00  2018    5   11
3  2018-05-11 20:40:00      22.40 2018-05-11 20:40:00  2018    5   11
4  2018-05-11 20:50:00      22.46 2018-05-11 20:50:00  2018    5   11

In [94]:
diaunicos.sort()

In [95]:
diaunicos

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [98]:
diaunicos=data1['Dia'].unique()
diccionario = {}
contador = 0
for i in range(len(diaunicos)):
    diccionario[diaunicos[i]]=[]

In [97]:
for k in data1['Dia']:

{11: [],
 12: [],
 13: [],
 14: [],
 15: [],
 16: [],
 17: [],
 18: [],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 25: [],
 26: [],
 27: [],
 28: [],
 29: [],
 30: [],
 31: [],
 1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: []}