In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
data = pd.read_csv("vid18_180219.dat")

In [78]:
#Descargar el archivo
#data = pd.read_csv("vid18_180219.dat",sep="\s+",skipfooter=1,skiprows=1,\
#                   engine='python')#names=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'])
#data = data.replace('Nulo','NA')
#Cambiamos el tipo de variable de las columnas a flotante
#data[['Precip','Evap','Tmax','Tmin']] = data[['Precip','Evap','Tmax','Tmin']] \
#.apply(pd.to_numeric, errors='coerce')
#data['NFecha'] =  pd.to_datetime(data['Fecha'], format='%d/%m/%Y')
#data = data.drop('Fecha', 1)
# Crear columnas con Año y Mes extraídos de la fecha 
#data['Año'] = data['NFecha'].dt.year
#data['Mes'] = data['NFecha'].dt.month
# Número de años distintos data['Año'].unique(),
#NumA = len(data['Año'].unique())

In [79]:
data.head()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result2_Avg,Result3_Avg,Result4_Avg,Result5_Avg,Result6_Avg,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot
0,2018-05-11 20:10:00,7980,12.31,25.87,-5.499501,1.581859,-82.19471,-4.002829,23.26391,296.4139,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
1,2018-05-11 20:20:00,7981,12.30,25.37,-4.934265,1.946161,-80.00718,-1.978131,22.75189,295.9019,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
2,2018-05-11 20:30:00,7982,12.28,24.91,-4.615617,2.407313,-76.72183,-1.868207,22.43361,295.5836,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.46,0.0,0
3,2018-05-11 20:40:00,7983,12.27,24.47,-4.433317,2.523456,-73.10189,-3.367143,22.08901,295.2390,...,0.04,26.4,79.5,0.041,14.71,14.75,15.09,14.45,0.0,0
4,2018-05-11 20:50:00,7984,12.26,24.09,-2.861873,3.898805,-70.19295,0.915511,22.08449,295.2345,...,0.04,26.4,79.5,0.041,14.70,14.76,15.08,14.46,0.0,0

In [80]:
data.tail()

,TIMESTAMP,RECORD,batt_volt_Min,logger_temp,short_up_Avg,short_dn_Avg,long_up_Avg,long_dn_Avg,cnr4_T_C_Avg,cnr4_T_K_Avg,...,Result2_Avg,Result3_Avg,Result4_Avg,Result5_Avg,Result6_Avg,Result7_Avg,Result8_Avg,Result9_Avg,Riego_mm_Tot,Perco_mm_Tot
40655,2019-02-18 06:50:00,48635,11.61,3.362,-1.776600,2.571530,-53.13052,2.670616,3.117354,276.2673,...,0.037,20.3,68.5,0.035,14.56,12.55,14.73,13.46,0.0,0
40656,2019-02-18 07:00:00,48636,11.61,3.292,-1.077401,2.411934,-52.01003,2.935615,3.046169,276.1962,...,0.037,20.3,68.5,0.035,14.56,12.55,14.73,13.46,0.0,0
40657,2019-02-18 07:10:00,48637,11.61,3.238,1.723268,2.787672,-52.14503,3.190970,2.968822,276.1188,...,0.037,20.3,68.5,0.035,14.56,12.55,14.73,13.46,0.0,0
40658,2019-02-18 07:20:00,48638,11.64,3.185,9.203125,4.473552,-52.09697,3.894265,2.862444,276.0124,...,0.037,20.3,68.5,0.035,14.57,12.55,14.74,13.45,0.0,0
40659,2019-02-18 07:30:00,48639,11.68,3.168,17.604130,6.581989,-51.49600,4.510994,3.033075,276.1830,...,0.037,20.3,68.5,0.035,14.56,12.55,14.73,13.46,0.0,0

In [81]:
data.columns

Index(['TIMESTAMP', 'RECORD', 'batt_volt_Min', 'logger_temp', 'short_up_Avg',
       'short_dn_Avg', 'long_up_Avg', 'long_dn_Avg', 'cnr4_T_C_Avg',
       'cnr4_T_K_Avg', 'long_up_corr_Avg', 'long_dn_corr_Avg', 'Rs_net_Avg',
       'Rl_net_Avg', 'albedo_Avg', 'Rn_Avg', 'AirTC_Avg', 'RH', 'WS_ms_S_WVT',
       'WindDir_D1_WVT', 'WindDir_SD1_WVT', 'Temp_C_Avg(1)', 'Temp_C_Avg(2)',
       'Temp_C_Avg(3)', 'Temp_C_Avg(4)', 'Result1_Avg', 'Result2_Avg',
       'Result3_Avg', 'Result4_Avg', 'Result5_Avg', 'Result6_Avg',
       'Result7_Avg', 'Result8_Avg', 'Result9_Avg', 'Riego_mm_Tot',
       'Perco_mm_Tot'],
      dtype='object')

In [82]:
data1 = pd.DataFrame()

In [83]:
data1['TIMESTAMP'] = data['TIMESTAMP']
data1['AirTC_Avg'] = data['AirTC_Avg']

In [84]:
data1.head()

             TIMESTAMP  AirTC_Avg
0  2018-05-11 20:10:00      23.50
1  2018-05-11 20:20:00      22.96
2  2018-05-11 20:30:00      22.73
3  2018-05-11 20:40:00      22.40
4  2018-05-11 20:50:00      22.46

In [85]:
#data2['Tmax'] = 'Tmax'
#data2['Tmin'] = 'Tmin'

In [86]:
'''
data1['NTIMESTAMP'] =  pd.to_datetime(data1['TIMESTAMP'])
data1['Año'] = data1['NTIMESTAMP'].dt.year
data1['Mes'] = data1['NTIMESTAMP'].dt.month
data1['Dia'] = data1['NTIMESTAMP'].dt.day
'''

"\ndata1['NTIMESTAMP'] =  pd.to_datetime(data1['TIMESTAMP'])\ndata1['Año'] = data1['NTIMESTAMP'].dt.year\ndata1['Mes'] = data1['NTIMESTAMP'].dt.month\ndata1['Dia'] = data1['NTIMESTAMP'].dt.day\n"

In [87]:

data1.tail()

                 TIMESTAMP  AirTC_Avg
40655  2019-02-18 06:50:00      3.699
40656  2019-02-18 07:00:00      3.492
40657  2019-02-18 07:10:00      3.387
40658  2019-02-18 07:20:00      3.243
40659  2019-02-18 07:30:00      3.552

In [89]:
#data1['TIME']=data['TIMESTAMP'].str.extract('((?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d)')
'''
data2['Tmax'] = data1.groupby(['Dia'])[['AirTC_Avg']].max()
data2['Tmin'] = data1.groupby(['Dia'])[['AirTC_Avg']].min()
data2['Tprom'] = data1.groupby(['Dia'])[['AirTC_Avg']].mean()
'''

"\ndata2['Tmax'] = data1.groupby(['Dia'])[['AirTC_Avg']].max()\ndata2['Tmin'] = data1.groupby(['Dia'])[['AirTC_Avg']].min()\ndata2['Tprom'] = data1.groupby(['Dia'])[['AirTC_Avg']].mean()\n"

In [91]:
data2 = pd.DataFrame(data1)

data2 = data2.drop('TIMESTAMP', 1)

data2['Fecha'] = data['TIMESTAMP'].str.extract('(..-..-..)',expand=True)
print(data2.head())

   AirTC_Avg     Fecha
0      23.50  18-05-11
1      22.96  18-05-11
2      22.73  18-05-11
3      22.40  18-05-11
4      22.46  18-05-11