In [1]:
import pandas as pd
import numpy as np

In [2]:
#Descargar el archivo
data = pd.read_csv("Datos_Hermosillo_editado.txt",sep="\s+",skipfooter=1,skiprows=1,engine='python',names=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'])

In [3]:
#Con esta función podemos ver los primeros cinco renglones del archivo de  datos
data.head()

        Fecha Precip  Evap  Tmax  Tmin
0  01/07/1974      0   7.3    35    22
1  02/07/1974      0  10.5    34  22.5
2  03/07/1974      0  13.6  31.5    21
3  04/07/1974      0  10.7    41    28
4  05/07/1974      0  10.9    35    28

In [4]:
data = data.replace('Nulo','NA')

In [5]:
#Con esta función podemos ver los últimos cinco renglones del archivo de  datos
#pueden ser los que queramos siutilizamos de la siguiente manera: data.tail(5)
data.tail()

           Fecha Precip Evap  Tmax  Tmin
6630  27/07/2011      0  9.4    34    24
6631  28/07/2011      0    7  33.5  24.5
6632  29/07/2011      0  7.6    33  25.5
6633  30/07/2011      0  8.1    36  25.5
6634  31/07/2011      0   NA    NA  27.5

In [6]:
data.dtypes

Fecha     object
Precip    object
Evap      object
Tmax      object
Tmin      object
dtype: object

In [7]:
#Cambiamos el tipo de variable de las columnas a flotante
data[['Precip','Evap','Tmax','Tmin']] = data[['Precip','Evap','Tmax','Tmin']] \
.apply(pd.to_numeric, errors='coerce')

In [8]:
data['NFecha'] =  pd.to_datetime(data['Fecha'], format='%d/%m/%Y')
data = data.drop('Fecha', 1)

In [9]:
data.dtypes

Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
NFecha    datetime64[ns]
dtype: object

In [10]:
#Ahora podemos pedir un resumen estadistico de los datos
data.describe()

            Precip         Evap        Tmax         Tmin
count  6619.000000  4721.000000  6485.00000  6486.000000
mean      0.358136     6.096420    27.11192    13.964030
std       2.788885     2.714726     5.78545     7.048581
min       0.000000     0.100000    10.50000    -4.000000
25%       0.000000     4.100000    22.00000     8.000000
50%       0.000000     6.000000    27.00000    12.500000
75%       0.000000     7.900000    32.00000    20.000000
max      70.000000    17.700000    48.50000    30.000000

In [11]:
data.mean()

Precip     0.358136
Evap       6.096420
Tmax      27.111920
Tmin      13.964030
dtype: float64

In [12]:
data.std()

Precip    2.788885
Evap      2.714726
Tmax      5.785450
Tmin      7.048581
dtype: float64

In [13]:
data.median()

Precip     0.0
Evap       6.0
Tmax      27.0
Tmin      12.5
dtype: float64

In [14]:
data.min()

Precip                      0
Evap                      0.1
Tmax                     10.5
Tmin                       -4
NFecha    1974-07-01 00:00:00
dtype: object

In [15]:
data.max()

Precip                     70
Evap                     17.7
Tmax                     48.5
Tmin                       30
NFecha    2011-07-31 00:00:00
dtype: object

¿Cómo le podrás determinar cuáles son los meses más lluviosos?

In [16]:
# Crear columnas con Año y Mes extraídos de la fecha 
data['Año'] = data['NFecha'].dt.year
data['Mes'] = data['NFecha'].dt.month
data.head()

   Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
0     0.0   7.3  35.0  22.0 1974-07-01  1974    7
1     0.0  10.5  34.0  22.5 1974-07-02  1974    7
2     0.0  13.6  31.5  21.0 1974-07-03  1974    7
3     0.0  10.7  41.0  28.0 1974-07-04  1974    7
4     0.0  10.9  35.0  28.0 1974-07-05  1974    7

In [17]:
data.tail()

      Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
6630     0.0   9.4  34.0  24.0 2011-07-27  2011    7
6631     0.0   7.0  33.5  24.5 2011-07-28  2011    7
6632     0.0   7.6  33.0  25.5 2011-07-29  2011    7
6633     0.0   8.1  36.0  25.5 2011-07-30  2011    7
6634     0.0   NaN   NaN  27.5 2011-07-31  2011    7

In [18]:
# Número de años distintos data['Año'].unique(),
NumA = len(data['Año'].unique())
print(NumA, "años de datos")

24 años de datos

In [19]:
# Se puede hacer a 'mano' o en un loop
#Primero lo haremos a mano
PrecipEne = data[(data['Mes']==1)]['Precip'].sum()/NumA
PrecipFeb = data[(data['Mes']==2)]['Precip'].sum()/NumA
PrecipMar = data[(data['Mes']==3)]['Precip'].sum()/NumA
PrecipAbr = data[(data['Mes']==4)]['Precip'].sum()/NumA
PrecipMay = data[(data['Mes']==5)]['Precip'].sum()/NumA
PrecipJun = data[(data['Mes']==6)]['Precip'].sum()/NumA
PrecipJul = data[(data['Mes']==7)]['Precip'].sum()/NumA
PrecipAgo = data[(data['Mes']==8)]['Precip'].sum()/NumA
PrecipSep = data[(data['Mes']==9)]['Precip'].sum()/NumA
PrecipOct = data[(data['Mes']==10)]['Precip'].sum()/NumA
PrecipNov = data[(data['Mes']==11)]['Precip'].sum()/NumA
PrecipDic = data[(data['Mes']==12)]['Precip'].sum()/NumA
print("Enero:",PrecipEne, "mm")
print("Febrero:",PrecipFeb, "mm")
print("Marzo:",PrecipMar, "mm")
print("Abril:",PrecipAbr, "mm")
print("Mayo:",PrecipMay, "mm")
print("Junio:",PrecipJun, "mm")
print("Julio:",PrecipJul, "mm")
print("Agosto:",PrecipAgo, "mm")
print("Septiembre:",PrecipSep, "mm")
print("Octubre:",PrecipOct, "mm")
print("Noviembre:",PrecipNov, "mm")
print("Diciembre:",PrecipDic, "mm")

Enero: 7.508333333333333 mm
Febrero: 5.166666666666667 mm
Marzo: 1.75 mm
Abril: 0.6666666666666666 mm
Mayo: 0.2916666666666667 mm
Junio: 1.2083333333333333 mm
Julio: 13.345833333333333 mm
Agosto: 27.808333333333334 mm
Septiembre: 16.179166666666667 mm
Octubre: 7.983333333333334 mm
Noviembre: 3.5749999999999997 mm
Diciembre: 13.2875 mm

Los meses con más precipitaciones fueron: Agosto, Septiembre y Julio

In [20]:
#utilizando un loop
total=0.0
for i in range(12):
    PrecipMensual = data['Precip'][data['Mes']==[i+1]].sum()/NumA
    total=total+PrecipMensual
    print("Mes", i+1,":", np.round(PrecipMensual, decimals=2), "mm", ", Acumulada:", 
          np.round(total, decimals=2), "mm")

Mes 1 : 7.51 mm , Acumulada: 7.51 mm
Mes 2 : 5.17 mm , Acumulada: 12.68 mm
Mes 3 : 1.75 mm , Acumulada: 14.42 mm
Mes 4 : 0.67 mm , Acumulada: 15.09 mm
Mes 5 : 0.29 mm , Acumulada: 15.38 mm
Mes 6 : 1.21 mm , Acumulada: 16.59 mm
Mes 7 : 13.35 mm , Acumulada: 29.94 mm
Mes 8 : 27.81 mm , Acumulada: 57.75 mm
Mes 9 : 16.18 mm , Acumulada: 73.93 mm
Mes 10 : 7.98 mm , Acumulada: 81.91 mm
Mes 11 : 3.58 mm , Acumulada: 85.48 mm
Mes 12 : 13.29 mm , Acumulada: 98.77 mm

Los meses con más precipitaciones fueron: Agosto, Septiembre y Julio. Como habiamos dicho

¿Cuáles son los meses más fríos y cuáles son los más cálidos?

In [21]:
# Para calcular los meses más frios y mas calidos utilizamos dos loops

for i in range(12):
    TminPromMensual = data[data['Mes']==i+1]['Tmin'].sum()/data[data['Mes'] ==i+1]['Tmin'].count()
    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC")
  
print(" ")
    
for i in range(12):
    TmaxPromMensual = data[data['Mes']==i+1]['Tmax'].sum()/data[data['Mes'] ==i+1]['Tmax'].count()
    print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC")

Tmin Mes 1 : 6.59 ºC
Tmin Mes 2 : 7.17 ºC
Tmin Mes 3 : 8.59 ºC
Tmin Mes 4 : 10.7 ºC
Tmin Mes 5 : 13.23 ºC
Tmin Mes 6 : 18.23 ºC
Tmin Mes 7 : 23.73 ºC
Tmin Mes 8 : 23.79 ºC
Tmin Mes 9 : 21.98 ºC
Tmin Mes 10 : 15.9 ºC
Tmin Mes 11 : 9.86 ºC
Tmin Mes 12 : 6.89 ºC

Tmax Mes 1 : 19.7 ºC
Tmax Mes 2 : 21.46 ºC
Tmax Mes 3 : 22.93 ºC
Tmax Mes 4 : 25.52 ºC
Tmax Mes 5 : 28.09 ºC
Tmax Mes 6 : 31.99 ºC
Tmax Mes 7 : 33.01 ºC
Tmax Mes 8 : 33.83 ºC
Tmax Mes 9 : 33.13 ºC
Tmax Mes 10 : 29.52 ºC
Tmax Mes 11 : 24.32 ºC
Tmax Mes 12 : 20.9 ºC

Meses fríos: Noviembre, Diciembre, Enero, Febrero y Marzo

Meses cálidos: Mayo, Junio, Julio, Agosto, Septiembre

In [22]:
data.head(), data.tail()

(   Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
 0     0.0   7.3  35.0  22.0 1974-07-01  1974    7
 1     0.0  10.5  34.0  22.5 1974-07-02  1974    7
 2     0.0  13.6  31.5  21.0 1974-07-03  1974    7
 3     0.0  10.7  41.0  28.0 1974-07-04  1974    7
 4     0.0  10.9  35.0  28.0 1974-07-05  1974    7,
       Precip  Evap  Tmax  Tmin     NFecha   Año  Mes
 6630     0.0   9.4  34.0  24.0 2011-07-27  2011    7
 6631     0.0   7.0  33.5  24.5 2011-07-28  2011    7
 6632     0.0   7.6  33.0  25.5 2011-07-29  2011    7
 6633     0.0   8.1  36.0  25.5 2011-07-30  2011    7
 6634     0.0   NaN   NaN  27.5 2011-07-31  2011    7)

In [23]:
# Años húmedos y años secos
for i in range(1973,2011):
    PrecipAnual = data['Precip'][data['Año']==[i+1]].sum()
    print("Año", i+1,":", PrecipAnual, "mm")

Año 1974 : 89.8 mm
Año 1975 : 55.900000000000006 mm
Año 1976 : 106.9 mm
Año 1977 : 104.7 mm
Año 1978 : 54.0 mm
Año 1979 : 43.0 mm
Año 1980 : 69.5 mm
Año 1981 : 91.0 mm
Año 1982 : 153.5 mm
Año 1983 : 214.2 mm
Año 1984 : 263.9 mm
Año 1985 : 53.0 mm
Año 1986 : 9.0 mm
Año 1987 : 0 mm
Año 1988 : 92.0 mm
Año 1989 : 34.0 mm
Año 1990 : 159.0 mm
Año 1991 : 165.0 mm
Año 1992 : 279.0 mm
Año 1993 : 148.0 mm
Año 1994 : 0.0 mm
Año 1995 : 0 mm
Año 1996 : 0 mm
Año 1997 : 0 mm
Año 1998 : 0 mm
Año 1999 : 0 mm
Año 2000 : 0 mm
Año 2001 : 0 mm
Año 2002 : 0 mm
Año 2003 : 0 mm
Año 2004 : 0 mm
Año 2005 : 0 mm
Año 2006 : 0 mm
Año 2007 : 144.1 mm
Año 2008 : 29.6 mm
Año 2009 : 0 mm
Año 2010 : 0.0 mm
Año 2011 : 11.4 mm

Año mas humedo fue 1992 con 279.00 mm y el menos humedo 1986 con 9 mm

In [24]:
#vamos a verificar el número de datos por año
for i in range(1973,2011):
    NumDatos= data['Precip'][data['Año']==[i+1]].count()
    print("Año:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2), "%")

Año: 1974 Num Datos 184 ,  0.5 %
Año: 1975 Num Datos 365 ,  1.0 %
Año: 1976 Num Datos 366 ,  1.0 %
Año: 1977 Num Datos 365 ,  1.0 %
Año: 1978 Num Datos 243 ,  0.67 %
Año: 1979 Num Datos 122 ,  0.33 %
Año: 1980 Num Datos 366 ,  1.0 %
Año: 1981 Num Datos 365 ,  1.0 %
Año: 1982 Num Datos 365 ,  1.0 %
Año: 1983 Num Datos 334 ,  0.92 %
Año: 1984 Num Datos 366 ,  1.0 %
Año: 1985 Num Datos 365 ,  1.0 %
Año: 1986 Num Datos 207 ,  0.57 %
Año: 1987 Num Datos 0 ,  0.0 %
Año: 1988 Num Datos 244 ,  0.67 %
Año: 1989 Num Datos 233 ,  0.64 %
Año: 1990 Num Datos 273 ,  0.75 %
Año: 1991 Num Datos 365 ,  1.0 %
Año: 1992 Num Datos 306 ,  0.84 %
Año: 1993 Num Datos 355 ,  0.97 %
Año: 1994 Num Datos 0 ,  0.0 %
Año: 1995 Num Datos 0 ,  0.0 %
Año: 1996 Num Datos 0 ,  0.0 %
Año: 1997 Num Datos 0 ,  0.0 %
Año: 1998 Num Datos 0 ,  0.0 %
Año: 1999 Num Datos 0 ,  0.0 %
Año: 2000 Num Datos 0 ,  0.0 %
Año: 2001 Num Datos 0 ,  0.0 %
Año: 2002 Num Datos 0 ,  0.0 %
Año: 2003 Num Datos 0 ,  0.0 %
Año: 2004 Num Datos 0 ,  0.0 %
Año: 2005 Num Datos 0 ,  0.0 %
Año: 2006 Num Datos 0 ,  0.0 %
Año: 2007 Num Datos 284 ,  0.78 %
Año: 2008 Num Datos 222 ,  0.61 %
Año: 2009 Num Datos 0 ,  0.0 %
Año: 2010 Num Datos 115 ,  0.32 %
Año: 2011 Num Datos 209 ,  0.57 %

Muchos años sin datos y otros con pocos

In [25]:
 # Años más calientes
for i in range(1973,2011):
    NumDatos= data['Tmax'][data['Año']==[i+1]].count()
    TempPromMax = data['Tmax'][data['Año']==[i+1]].sum()/NumDatos
    print("Año", i+1,":", np.round(TempPromMax , decimals=2), "°C")

Año 1974 : 29.76 °C
Año 1975 : 27.88 °C
Año 1976 : 29.46 °C
Año 1977 : 27.17 °C
Año 1978 : 27.76 °C
Año 1979 : 26.72 °C
Año 1980 : 27.9 °C
Año 1981 : 26.64 °C
Año 1982 : 26.1 °C
Año 1983 : 26.5 °C
Año 1984 : 27.34 °C
Año 1985 : 26.11 °C
Año 1986 : 26.55 °C
Año 1987 : nan °C
Año 1988 : 27.18 °C
Año 1989 : 23.27 °C
Año 1990 : 26.95 °C
Año 1991 : 26.0 °C
Año 1992 : 27.53 °C
Año 1993 : 26.59 °C
Año 1994 : 20.14 °C
Año 1995 : nan °C
Año 1996 : nan °C
Año 1997 : nan °C
Año 1998 : nan °C
Año 1999 : nan °C
Año 2000 : nan °C
Año 2001 : nan °C
Año 2002 : nan °C
Año 2003 : nan °C
Año 2004 : nan °C
Año 2005 : nan °C
Año 2006 : nan °C
Año 2007 : 29.32 °C
Año 2008 : 27.76 °C
Año 2009 : nan °C
Año 2010 : 27.47 °C
Año 2011 : 25.96 °C

C:\Users\olguin aguilar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.

Estos son los años más calientes:1974, 1976 y 2007

In [26]:
# Años más frios
for i in range(1973,2011):
    NumDatos= data['Tmin'][data['Año']==[i+1]].count()
    TempPromMin = data['Tmin'][data['Año']==[i+1]].sum()/NumDatos
    print("Año", i+1,":",np.round(TempPromMin , decimals=2), "°C")

Año 1974 : 17.08 °C
Año 1975 : 11.67 °C
Año 1976 : 11.62 °C
Año 1977 : 14.73 °C
Año 1978 : 13.87 °C
Año 1979 : 13.03 °C
Año 1980 : 15.16 °C
Año 1981 : 14.78 °C
Año 1982 : 14.32 °C
Año 1983 : 13.71 °C
Año 1984 : 13.79 °C
Año 1985 : 13.39 °C
Año 1986 : 14.27 °C
Año 1987 : nan °C
Año 1988 : 15.65 °C
Año 1989 : 9.36 °C
Año 1990 : 14.04 °C
Año 1991 : 13.21 °C
Año 1992 : 14.68 °C
Año 1993 : 14.18 °C
Año 1994 : 4.62 °C
Año 1995 : nan °C
Año 1996 : nan °C
Año 1997 : nan °C
Año 1998 : nan °C
Año 1999 : nan °C
Año 2000 : nan °C
Año 2001 : nan °C
Año 2002 : nan °C
Año 2003 : nan °C
Año 2004 : nan °C
Año 2005 : nan °C
Año 2006 : nan °C
Año 2007 : 17.76 °C
Año 2008 : 15.83 °C
Año 2009 : nan °C
Año 2010 : 14.76 °C
Año 2011 : 12.02 °C

C:\Users\olguin aguilar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.

Estos son los años más frios: 1976, 1989 y 1994

In [42]:
# la temperatura mensual promedio en los últimos 20 años 
for i in range(12):
    TminPromMensual = data[data['Mes']==i+1]['Tmin'].sum()/data[data['Mes'] ==i+1]['Tmin'].count()
    TmaxPromMensual = data[data['Mes']==i+1]['Tmax'].sum()/data[data['Mes'] ==i+1]['Tmax'].count()
    TpromMensual = (TminPromMensual+TmaxPromMensual)*(1/2)

    
#    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC")
 #   print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC")
    print("Tprom Mes", i+1, ":",np.round(TpromMensual, decimals=2),"ºC")

Tprom Mes 1 : 13.15 ºC
Tprom Mes 2 : 14.31 ºC
Tprom Mes 3 : 15.76 ºC
Tprom Mes 4 : 18.11 ºC
Tprom Mes 5 : 20.66 ºC
Tprom Mes 6 : 25.11 ºC
Tprom Mes 7 : 28.37 ºC
Tprom Mes 8 : 28.81 ºC
Tprom Mes 9 : 27.55 ºC
Tprom Mes 10 : 22.71 ºC
Tprom Mes 11 : 17.09 ºC
Tprom Mes 12 : 13.9 ºC